@model IEnumerable<CZE.Web.Areas.AdministrativniRadnik.Models.GrupeKandidatiTableVM>
@{
    CZE.Web.Helper.InfoMessage InfoMessage = ViewBag.InfoMessage;
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Grupe kandidata
            </div>
            <div class="panel-body">
                @if (InfoMessage != null)
                {
                    <div class='alert alert-@InfoMessage.Tip alert-dismissable'>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <strong>@InfoMessage.Message</strong>
                        <br />
                    </div>
                }
                <table id="grupeKandidataTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.GrupaNaziv)</th>
                            <th>@Html.DisplayNameFor(model => model.KursNaziv)</th>
                            <th>@Html.DisplayNameFor(model => model.TipNaziv)</th>
                            <th>@Html.DisplayNameFor(model => model.Predavac)</th>
                            <th title="uplačeno\cijena kursa">@Html.DisplayNameFor(model => model.Uplaceno)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.GrupaNaziv)</td>
                                <td>@Html.DisplayFor(modelItem => item.KursNaziv)</td>
                                <td>@Html.DisplayFor(modelItem => item.TipNaziv)</td>
                                <td>@Html.DisplayFor(modelItem => item.Predavac)</td>
                                <td>@Html.DisplayFor(modelItem => item.Uplaceno)</td>
                                <td>
                                    @Ajax.ActionLink(" ", "Create",
                                    routeValues: new { grupaKandidatiId = item.GrupaKandidatiID },
                                    ajaxOptions: new AjaxOptions { UpdateTargetId = "grupeKandidata", OnSuccess = "ValidateForm" },
                                    htmlAttributes: new { @class = "glyphicon glyphicon-plus-sign", style = "font-size:22px", title = "Dodaj uplatu" })
                                    
                                    @Ajax.ActionLink(" ", "UplateGrupaKandidat",
                                    routeValues: new { grupaKandidatiId = item.GrupaKandidatiID },
                                 ajaxOptions: new AjaxOptions { UpdateTargetId = "grupeKandidata", OnSuccess = "ScrollToTable" },
                                    htmlAttributes: new { @class = "glyphicon glyphicon-list-alt", style = "font-size:20px", title = "Pregled uplata" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>